# Idea Folder

**.idea/**
.idea/workspace.xml
.idea/*

# target folder

/target/**
/.DS_Store
common/target/.DS_Store

# Maven

/mvnw
/mvnw.cmd
mvnw/*
managementApp/mvnw
managementApp/mvnw.cmd


*.class


microservice/target/test-classes/application.properties
managementApp/target/classes/application.yml

#Microservice
microservice/target/classes/application.yml
microservice/mvnw
microservice/mvnw.cmd
microservice/.DS_Store

*.iml
common/target/common-library-0.0.1-SNAPSHOT.jar
common/target/common-library-0.0.1-SNAPSHOT.jar.original
*.lst
common/target/maven-archiver/pom.properties
*.war
*.original
